@media only screen and (max-width:768px)

{
    nav .menu-list, .btn-contact{
        display: none;
    }
    nav{
        position: fixed;
        z-index: 1;
    }
    nav .logo{
        width: 50%; 
        height: 70px;   
        position: absolute;
        top: 0;
        left: 0;
    }
   
    .hero{
        width: 100%;
        height: 600px;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        /* z-index: -1; */
    }
    .hero .info{
        width: 400px;
        height: 500px;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .menu-bar{
        display: inline-block;
        position: fixed;
        right: 80px;
        top: 30px;
        transform: scale(2);
        z-index: 2;
    }
    .sidemenu{
        width: 768px;
        height: 560px;
        position:fixed;
        top: 70px;
        left: -768px;          
    }    
    #check:checked ~ .sidemenu{
        position: absolute;
        top: 70px;
        left: 0;
        transition: .5s all;
    }
    .arrow{
        transform: scale(2);
        position: fixed;
        right: 80px;
        top: 25px;
    }

    #check:checked ~ .arrow{
        display:inline-block;
        z-index: 3;        
    }

    /* Company Introduction */

    .co-intro{
        display: block;
        position: absolute;
        top: 670px;
        left: 0;
        background-color: #ffffff; 

    }
    
    .co-intro .co-years{
        width: 90%;
        height: 500px;
        margin: 20px auto;   
        
    }
    .co-years h1{
        font-size: 200px;
        font-family: Oswald, sans-serif;
        background-color: #ededed;         
        padding: 118px 100px;    
    }
    .co-years span{
        font-size: 30px;
        /* padding-top: -100px; */
        text-align: center;
        position: absolute;
    bottom:70px;
    left: 75px;
    }
    .co-intro .co-profile{
        width: 100%;        
    }
    .co-intro .co-profile-title{
        font-size: 30px;
        font-weight: 400;
        margin-left: 22px;          
    }
    .co-intro .co-profile-details{
        font-size: 16px;
        margin-left: 22px;    
    }
    .co-intro  .co-profile-subtitle{
        margin-right: 20px;
        margin-left: 22px;
        color: #505050;  
    }
    
    


    



}